body {
    background: #f5f6f7;
}


/*导航部分*/

.nav {
    width: 100%;
    height: 80px;
    background: #fff;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}

.nav .layui-container {
    width: 1200px;
    padding: 0;
    position: relative;
}

.nav .nav-logo {
    height: 100%;
    position: absolute;
    top: 0;
    left: 15px;
    line-height: 80px;
}

.nav .nav-list {
    display: inline-block;
    height: 80px;
}

.nav .layui-nav {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 578px;
    padding: 0 5px;
    color: #000;
    background: transparent;
}

.nav .layui-nav .layui-nav-item {
    display: inline-block;
    margin: 0 53px;
    line-height: 80px;
}

.nav .layui-nav .layui-nav-item a {
    padding: 0 0;
    font-size: 18px;
    color: #000;
}

.nav .layui-nav-bar,
.nav .layui-nav .layui-this:after {
    height: 2px;
    background-color: #2db5a3;
}

.nav .layui-nav .layui-this a,
.nav .layui-nav .layui-nav-item a:hover {
    color: #2db5a3;
}


/* banner部分 */

.banner {
    height: 320px;
    margin-top: 80px;
}

.news {
    background: url(../images/2.jpg) no-repeat center top;
    background-size: cover;
}

.banner .title.active {
    padding-top: 120px;
    transition: 1.5s;
}

.banner .title p {
    color: #606060;
    font-size: 36px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 5px;
}

.banner .title p.en {
    font-size: 20px;
    letter-spacing: 3px;
}


/* 动态 */

.main-news {
    padding: 70px 0 80px 0;
}

.main-news .content>div {
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px dashed darkgray;
    height: 170px;
    position: relative;
}

.main-news .content .news-img {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.main-news .content .news-img img {
    width: 100%;
}

.main-news .content .news-panel {
    box-sizing: border-box;
    display: inline-block;
    width: 69%;
    vertical-align: top;
    padding-top: 20px;
    padding-left: 5px;
}

.main-news .content .news-panel strong a {
    display: block;
    color: #555;
    font-size: 18px;
    line-height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main-news .content .news-panel p.detail {
    color: #777;
    line-height: 24px;
}

.main-news .content .news-panel p.read-push {
    color: #AAA;
    padding-top: 5px;
}

.main-news #newsPage .layui-laypage {
    display: block;
    text-align: center;
    margin-top: 70px;
}

.main-news #newsPage .layui-laypage a,
.main-news #newsPage .layui-laypage span {
    font-size: 18px;
    line-height: 40px;
    height: 40px;
    margin-right: 20px;
    border-radius: 3px;
    color: #e3e3e3;
}


/*动态详情页*/

.main-newsdate {
    margin-top: 80px;
    text-align: center;
}

.main-newsdate .news {
    text-align: left;
    line-height: 104px;
}

.main-newsdate h1 {
    padding-top: 6px;
}

.main-newsdate .pushtime {
    color: #686868;
    font-size: 18px;
    line-height: 82px;
}

.main-newsdate .introTop {
    padding-bottom: 28px;
    font-size: 18px;
    line-height: 20px;
    text-align: left;
}

.main-newsdate .introBott {
    font-size: 18px;
    line-height: 42px;
    text-align: justify;
    padding: 40px 0 102px 0;
}

.main-newsdate img {
    max-width: 100%;
}


/* 底部 */

.footer {
    padding-bottom: 70px;
    background: #5e6664;
}

.footer .footer-web {
    padding-top: 50px;
    padding-bottom: 63px;
}

.footer .footer-web a {
    color: #a5aaa9;
    line-height: 22px;
    margin-right: 20px;
}

.footer .footer-web a:hover {
    color: #dce1e0;
}

.footer .footer-contact {
    color: #fff;
}

.footer .footer-contact img {
    width: 86px;
    height: 86px;
}

.footer .footer-contact a {
    color: #a5aaa9;
}

.footer .footer-contact .contact-top {
    padding-top: 20px;
    line-height: 30px;
}

.footer .footer-contact .contact-top label {
    display: inline-block;
    padding: 0 5px;
    color: #a5aaa9;
}

.footer .footer-contact .contact-bottom {
    line-height: 35px;
}